<p id="notice"><%= notice %></p>

<h1>All Categories<p><%= link_to '<i class="fa fa-plus fa-fw"></i>Add Category'.html_safe, new_admin_category_path %></p></h1>

<div class="col-xs-2 col-xs-offset-5">
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th colspan="5"></th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |admin_category| %>
              <tr>
                <td class="vert-align text-center"><%= admin_category.name %></td>
                <td class="vert-align text-center">
                <td><%= link_to '<i class="fa fa-file-text-o"></i>'.html_safe, admin_category_path(admin_category) %></td>
                <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_admin_category_path(admin_category) %></td>
                <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_category_path(admin_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
